{% extends 'base.html.twig' %}

{% block title %}YK.DESIGN - Modifier mon mot de passe{% endblock %}

{% block content %}

<h1>Modifier mon mot de passe</h1>
<a href="{{ path ('account_password') }}"> -Retourner vers l'accueil <br> </a>
<hr>
{% if notification %}
<div class ="alerte alerte-info"> {{notification}} </div>
{% endif %}
{{ form(form) }}
<hr>


{% endblock %}
