{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié -YK.DESIGN{% endblock %}
{% block content %}

{# {% block body %} #}
<div class="block-small"> 
    <h1 class="h3 mb-3 font-weight-normal">réinitialisez votre mot de passe</h1>
{% for message in app.flashes('notice') %}
<div class="alert alert-info">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('notice') %}
<div class="alert alert-info">{{ message }}</div>
{% endfor %}
{{ form(form) }}
{% endblock %}
