{% extends 'base.html.twig' %}
{% block content %}
<h1>inscription</h1>
{% if notification %}
<div class="alert alert-info"> {{ notification }} </div>
 {% endif %} 
<hr>
Formulaire d'inscription

{{form (form)}}

{% endblock %}

